<article>
    <header>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h2>
            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
    </header>
    {% if post.featured_image %}
    <a href="{{ post.url | relative_url }}" class="image fit">
        <img src="{{ post.featured_image | relative_url }}" alt="" />
    </a>
    {% endif %} {% if post.brief %}
    <p>{{ post.brief }}</p>
    {% endif %}
    <ul class="actions">
        <li>
            <a href="{{ post.url | relative_url }}" class="button">Full Post</a>
        </li>
    </ul>
</article>